<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="off"
      internalLogFile="C:\temp\internallog.txt">

  <targets>
    <target name="net" xsi:type="Network" address="udp://127.0.0.1:1308" newLine="false" maxMessageSize="65000" encoding="utf-8"
            layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMdc=true:appInfo=LogEmiter:includeNdc=true:includeNLogData=true}"/>

    <target name="errorFile" fileName="${basedir}/Logs/PhotoBook.Creator-Error-log-${machinename}-${date:format=yyyy-MMM}.txt"
            layout="${longdate} ${uppercase:${level}} ${message}" xsi:type="File"/>

    <target name="logFile" fileName="${basedir}/Logs/PhotoBook.Creator-log-${machinename}-${date:format=yyyy-MMM}.txt"
            layout="${longdate} ${uppercase:${level}} ${message}" xsi:type="File"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="net"/>

    <logger name="*" minlevel="Error" writeTo="errorFile" />

    <logger name="*" minlevel="Trace" writeTo="logFile" />

  </rules>
</nlog>